<div>
    <h3>Registered <small data-bind="if: isBusy"><i class="text-muted fa fa-refresh fa-spin fa-fw"></i></small></h3>
    <p>* Total <strong><span class="text-success" data-bind="text: entities().length"></span></strong> registered participants!</p>
    <div class="row">
        <div class="col-md">
            <div class="card mb-3">
                <div class="card-header">
                    Search
                </div>
                <div class="card-body">
                    <form class="m-2">
                        <div class="form-group">
                            <input type="text" class="form-control" id="Keyword" value="Keyword" data-bind="value: keyword">
                        </div>
                        <div class="form-group">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="keywordPropertyGroup" value="Batch" data-bind="checked: keywordProperty" />
                                <label class="form-check-label" for="inlineRadio1">Batch</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="keywordPropertyGroup" value="House" data-bind="checked: keywordProperty" />
                                <label class="form-check-label" for="inlineRadio1">House</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="keywordPropertyGroup" value="ReceiptNumber" data-bind="checked: keywordProperty" />
                                <label class="form-check-label" for="inlineRadio1">Receipt</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-success" data-bind="click: searchEntities">Search</button>
                            <button type="reset" class="btn btn-light" data-bind="click: resetEntities">Reset</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md"></div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-sm table-hover table-responsive">
                <thead>
                    <th>&nbsp;</th>
                    <th>Name</th>
                    <th>Contatcs</th>
                    <th>Receipt</th>
                    <th>House</th>
                    <th>Batch</th>
                    <th>&nbsp;</th>
                </thead>
                <tbody data-bind="foreach: entities">
                    <td><span data-bind="text: ($index() + 1)">&nbsp;</span></td>
                    <td>
                        <span data-bind="text: $data.Name ? $data.Name : 'undefined'">&nbsp;</span>
                        <span data-bind="if: $data.IsReconcile"><strong><i class="fa fa-check text-success"></i></strong></span>
                    </td>
                    <td>
                        <span data-bind="text: $data.Phone ? $data.Phone : 'undefined'">&nbsp;</span><br />
                        <span data-bind="text: $data.Email ? $data.Email : 'undefined'">&nbsp;</span>
                    </td>
                    <td><span data-bind="text: $data.ReceiptNumber ? $data.ReceiptNumber : 'undefined'">&nbsp;</span></td>
                    <td><span data-bind="text: $data.House ? $data.House : 'undefined'">&nbsp;</span></td>
                    <td><span data-bind="text: $data.Batch ? $data.Batch : 'undefined'">&nbsp;</span></td>
                    <td><a class="btn btn-sm btn-info" data-bind="attr: { href: '#register/' + Key }">Edit</a></td>
                </tbody>
            </table>
        </div>
    </div>
</div>